body {
    font-family: sans-serif;
  }
  body {
    font-family: sans-serif;
  }
  
  .container{
    margin-bottom: 50px;
    height : 1000px;
    max-width:  670px;
  }
  .createPlaylist {
    text-align: center;
    padding: 20px;
  }
  
  .inputTitle {
      border-radius: 15px;
  }
  .desc {
    border-radius: 5px;
  }
  .btn {
    width: 100px;
    border: 2px solid grey;
    background-color: grey;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 2px black;;
  }
  
  .btn:active{
    position: relative;
    box-shadow: none;
    top:2px;
    z-index: 10;
  }
  
  .fa {
    margin-right: 5px;
  }