body {
    margin : 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #6b705c;
}



.card{
    height: 100vh;
    text-align: center;
    padding: 100px;
}

img {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 15px;

}

.card-wrap {
    margin: 0 auto ;
    height: 400px;
    width: 300px;
    background-color: pink;
    border-radius: 20px;
}

.card_album {
    margin : 5px 0px;
}

.card_artist {
    margin: 5px 0px;
}

.card_button {
    position: relative;
    position: top;
    margin-top: 10px;
    border-radius: 15px;
    width:100px;
    height: 25px;
    background-color:blanchedalmond;
    border: none;
    box-shadow: 2px 3px rgb(0, 0, 0);
}

.card_button:active {
    position: relative;
    box-shadow: none;
    top:2px;
    x-index: 10;
}