.searchbarWrap {
  margin: 0 auto;
}

.form_inputSearch {
  position: relative;
  border: none;
  margin-bottom: 50px;
  margin-top: 5px;
  padding-left: 20px;
  width: 80%;
  height: 40px;
  border-radius: 20px;
}

.btn-search {
  margin-left: 8px;
  width: 65px;
  height: 40px;
  border-radius: 20px;
  background-color: black;
  color: antiquewhite;
  border: none;
  cursor: pointer;
}
.btn-search:hover {
  background-color: antiquewhite;
  color: black;
}

.btn-search:active {
  margin-left: 13px;
  background-color: antiquewhite;
  color: black;
  width: 60px;
}
